*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

body {
    padding: 25px;
    color: #fff;
    background-color: #123050;
    font-size: 25px;
}


.input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}


.light-mode {
    background-color: #fff;
    color: black;
}

.searchCity {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
}

.fivedayForecast {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.weatherTodayStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

p.todayStats {
    margin-top: 10px;
    margin-bottom: 10px;
}

#intro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#currentTime {
    display: flex;
    justify-content: center;
}

#Hero {
    z-index: 10;
}

#currentTime {
display: flex;
justify-content: center;
}